In [2]:
#Import the required libraries and modules that you would need.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston
from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree

In [118]:
def rename_columns(df, dictionary_oldname_newname):
    print(str(dictionary_oldname_newname))
    df.rename(columns=dictionary_oldname_newname, inplace=True )
    return True

def drop_columns(df, list_column_names) :

    df.drop(columns=list_column_names, axis=1, inplace=True)
    return True

def lower_case_column_names(df):
    df.columns=[i.lower() for i in df.columns]
    return True

def lower_case_text_fields(df, column_name):
    df[column_name] = df[column_name].apply(lambda x: str(x).lower())
    return True

def df_info(field, df):
    print(field + " nAns: " + str(len(df.loc[df[field].isnull()])) )
    if(str(df[field].dtypes)=='object'):
        print(str(df[field].value_counts()))
        
def dummyfy(field, df):
    dummies = pd.get_dummies(df[field].to_frame() , columns=[field])
    return dummies.iloc[: , 1:]

In [28]:
#Read that data into Python and call the dataframe churnData.
churnData = pd.read_csv('DATA_Customer-Churn.csv')
churn = churnData #I prefer it this way :P

In [29]:
churn

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [ ]:
#Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.

In [30]:
churn.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [7]:
# No dropping of duplicates. Given the selection of data, 
# they'd be quite possible

#churn.drop_duplicates()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [50]:
#not on the to do list, but was a stern recommendation
lower_case_column_names(churn)

True

In [ ]:
# Check for null values in the dataframe. Replace the null values.

In [91]:
df_info('seniorcitizen', churn)

seniorcitizen nAns: 0

In [92]:
df_info('partner', churn)

partner nAns: 0
No     3641
Yes    3402
Name: partner, dtype: int64

In [93]:
df_info('dependents', churn)

dependents nAns: 0
No     4933
Yes    2110
Name: dependents, dtype: int64

In [94]:
df_info('dependents', churn)

dependents nAns: 0
No     4933
Yes    2110
Name: dependents, dtype: int64

In [95]:
df_info('tenure', churn)

tenure nAns: 0

In [96]:
df_info('phoneservice', churn)

phoneservice nAns: 0
Yes    6361
No      682
Name: phoneservice, dtype: int64

In [97]:
df_info('onlinesecurity', churn)

onlinesecurity nAns: 0
No                     3498
Yes                    2019
No internet service    1526
Name: onlinesecurity, dtype: int64

In [98]:
df_info('onlinebackup', churn)

onlinebackup nAns: 0
No                     3088
Yes                    2429
No internet service    1526
Name: onlinebackup, dtype: int64

In [99]:
df_info('deviceprotection', churn)

deviceprotection nAns: 0
No                     3095
Yes                    2422
No internet service    1526
Name: deviceprotection, dtype: int64

In [113]:
df_info('techsupport', churn)

techsupport nAns: 0

KeyError: "None of [Index(['No', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes', 'No',\n       ...\n       'No', 'No', 'No', 'Yes', 'No internet service', 'Yes', 'No', 'No', 'No',\n       'Yes'],\n      dtype='object', length=7043)] are in the [index]"

In [101]:
df_info('streamingtv', churn)

streamingtv nAns: 0
No                     2810
Yes                    2707
No internet service    1526
Name: streamingtv, dtype: int64

In [102]:
df_info('streamingmovies', churn)

streamingmovies nAns: 0
No                     2785
Yes                    2732
No internet service    1526
Name: streamingmovies, dtype: int64

In [103]:
df_info('contract', churn)

contract nAns: 0
Month-to-month    3875
Two year          1695
One year          1473
Name: contract, dtype: int64

In [104]:
df_info('monthlycharges', churn)

monthlycharges nAns: 0

In [105]:
df_info('monthlycharges', churn)

monthlycharges nAns: 0

In [119]:
dummyfy('partner', churn)

      partner_Yes
0               1
1               0
2               0
3               0
4               0
...           ...
7038            1
7039            1
7040            1
7041            1
7042            0

[7043 rows x 1 columns]

In [123]:
churn_xy =  churn['tenure'].to_frame() + dummyfy('seniorcitizen', churn) + churn['monthlycharges'].to_frame()+ churn['totalcharges'].to_frame()

In [130]:
churn_xy  = pd.concat([churn['tenure'].to_frame(),dummyfy('seniorcitizen', churn),churn['monthlycharges'].to_frame(),churn['totalcharges'].to_frame()], ignore_index = False, axis = 0)

In [133]:
senior = dummyfy('seniorcitizen', churn)