# Using Pandas

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

<b>load the data from the vehicles.csv file into pandas data frame

In [9]:
## Your Code here
vehicles_df= pd.read_csv("data/vehicles.csv")

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [16]:
## Your Code here
#Panos = Panoz
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [23]:
vehicles_df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [39]:
vehicles_df["Make"].value_counts()

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Roush Performance                     53
Lotus                                 53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Federal Coach                         14
Merkur                                14
Spyker                                13
Import Trade Services                 13
McLaren Automotive                    13
Sterling                              12
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
Bertone                                5
VPG                                    5
Saleen                                 5
AM General                             4
Panther Car Company Limited            4
Grumman Olson                          4
TVR Engineering Ltd                    4
Autokraft Limited                      4
Vector                                 4
Texas Coach Company                    4
Saleen Performance                     4
Dabryan Coach Builders Inc             3
Dutton                                 3
Morgan                                 3
Consulier Industries Inc               3
Evans Automobiles                      3
Dacia                                  3
Bitter Gmbh and Co. Kg                 3
BMW Alpina                             3
PAS Inc - GMC                          2
CCC Engineering                        2
Laforza Automobile Inc                 2
Ruf Automobile Gmbh                    2
Red Shift Ltd.                         2
Mobility Ventures LLC                  2
Pininfarina                            2
Pagani                                 2
Bill Dovell Motor Car Company          2
Quantum Technologies                   2
PAS, Inc                               2
SRT                                    2
Goldacre                               1
Vixen Motor Company                    1
Qvale                                  1
Shelby                                 1
ASC Incorporated                       1
JBA Motorcars, Inc.                    1
Aurora Cars Ltd                        1
Fisker                                 1
Mahindra                               1
Volga Associated Automobile            1
Import Foreign Auto Sales Inc          1
London Taxi                            1
Isis Imports Ltd                       1
Lambda Control Systems                 1
Excalibur Autos                        1
Panoz Auto-Development                 1
General Motors                         1
Grumman Allied Industries              1
London Coach Co Inc                    1
Environmental Rsch and Devp Corp       1
Panos                                  1
Name: Make, dtype: int64

In [1]:
## Your Code here 
vehicles_df.loc[vehicles_df["Make"].str.contains("Dutton")] = "Dutton"
vehicles_df.loc[vehicles_df["Make"].str.contains("Panos")] = "Panoz Auto-Development"

NameError: name 'vehicles_df' is not defined

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [47]:
# Your Code here
print(str(vehicles_df["Make"].value_counts()))
print(str(vehicles_df["Model"].value_counts()))

Chevrolet                           3643
Ford                                2946
Dodge                               2360
GMC                                 2347
Toyota                              1836
BMW                                 1677
Mercedes-Benz                       1284
Nissan                              1253
Volkswagen                          1047
Mitsubishi                           950
Mazda                                915
Audi                                 890
Porsche                              862
Honda                                836
Jeep                                 829
Pontiac                              784
Subaru                               781
Volvo                                717
Hyundai                              662
Chrysler                             641
Buick                                537
Mercury                              532
Suzuki                               512
Cadillac                             508
Kia                                  493
Plymouth                             456
Saab                                 410
Isuzu                                409
Lexus                                397
Oldsmobile                           376
Infiniti                             345
Jaguar                               343
MINI                                 320
Acura                                302
Saturn                               278
Lincoln                              273
Ferrari                              208
Rolls-Royce                          160
Eagle                                156
Geo                                  144
Land Rover                           142
Aston Martin                         133
Bentley                              116
Maserati                             111
Lamborghini                          104
Scion                                 83
Peugeot                               74
Daewoo                                67
Ram                                   57
Lotus                                 53
Roush Performance                     53
Fiat                                  43
Alfa Romeo                            41
J.K. Motors                           36
Renault                               33
Wallace Environmental                 32
Maybach                               31
American Motors Corporation           22
smart                                 20
Hummer                                19
Daihatsu                              17
CX Automotive                         16
Federal Coach                         14
Merkur                                14
McLaren Automotive                    13
Import Trade Services                 13
Spyker                                13
Sterling                              12
Bugatti                                8
Yugo                                   8
Genesis                                7
Tecstar, LP                            6
Mcevoy Motors                          6
VPG                                    5
Saleen                                 5
Bertone                                5
Autokraft Limited                      4
Texas Coach Company                    4
Panther Car Company Limited            4
Saleen Performance                     4
TVR Engineering Ltd                    4
Grumman Olson                          4
Vector                                 4
AM General                             4
Consulier Industries Inc               3
Morgan                                 3
Dabryan Coach Builders Inc             3
Evans Automobiles                      3
Dacia                                  3
BMW Alpina                             3
Bitter Gmbh and Co. Kg                 3
Dutton                                 3
CCC Engineering                        2
SRT                                    2
Ruf Automobile Gmbh                    2
Red Shift Ltd.                         2
Pagani                                 2
Pininfarina                            2
Quantum Technologies                   2
Bill Dovell Motor Car Company          2
Laforza Automobile Inc                 2
PAS, Inc                               2
PAS Inc - GMC                          2
Mobility Ventures LLC                  2
Panoz Auto-Development                 2
Volga Associated Automobile            1
Goldacre                               1
Qvale                                  1
ASC Incorporated                       1
Fisker                                 1
JBA Motorcars, Inc.                    1
Mahindra                               1
Isis Imports Ltd                       1
London Taxi                            1
London Coach Co Inc                    1
Import Foreign Auto Sales Inc          1
General Motors                         1
Excalibur Autos                        1
Lambda Control Systems                 1
Vixen Motor Company                    1
Shelby                                 1
Environmental Rsch and Devp Corp       1
Aurora Cars Ltd                        1
Grumman Allied Industries              1
Name: Make, dtype: int64
F150 Pickup 2WD               197
F150 Pickup 4WD               179
Truck 2WD                     173
Mustang                       170
Jetta                         169
                             ...
Turbo R/Rl Bklds Turbo/LWB      1
CJ8 4WD                         1
Foose F150 Super Cab 2WD        1
750il/750il Protection          1
QX30                            1
Name: Model, Length: 3607, dtype: int64

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [28]:
## your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [20]:
## Your Code is here